/*Contact form*/

#contact {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  #contact .top-title {
    color: #CC9900;
    text-align: left;
    margin-left: 20px;
  }
  
  #contact form {
    padding: 20px;
    padding-bottom: 50px;  
    font:16px 'yanone_kaffeesatzregular', sans-serif;
  }
  
  #contact form label {
    color: #CC9900;
    font:14px 'Dosis', sans-serif;
  }
  
  #contact a {
    font-family: 'yanone_kaffeesatzregular', sans-serif;
    color: #000;
  }
  
  #contact a:hover {
    color: #CC9900;
  }
  
  #contact .fa-stack {
    color: #CC9900;
    font-weight: normal!important;
  }
  
  #contact h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font:200% 'yanone_kaffeesatzregular', sans-serif;
    text-transform: uppercase;
    text-align: left;
    font-weight: 300;
    color: #999;
    border-bottom: 1px solid #999;
  }
  
  #contact h2 .lead {
    color: #000;  
  }
  
  #contact h2 {
    font-family: 'yanone_kaffeesatzregular', sans-serif;
  }
  
  #contact p {
    font:16px 'yanone_kaffeesatzregular', sans-serif;
    color: #000;
  }
  
  .web-strong {
    font:18px 'yanone_kaffeesatzregular', sans-serif;
  }
  
  #contact input,
  #contact textarea {
    border-radius: 0;
    background-color: #eee;
  }
  
  #contact .btn-default {
    border-radius: 0;
    background-color: #CC9900;
    padding:10px 35px;
    border: 1px solid #CC9900;
    color: #fff;
    font:16px 'yanone_kaffeesatzregular', sans-serif;
  }
  
  #contact .btn-default:hover,
   #contact .btn-default:focus{
    color: #CC9900;
    background-color: #eee;  
  }
  
  #contact input {
    height: 40px!important;
  }
  
  #contact .error-message3 {
    margin-top: 20px;
    padding: 12px;    
    font-weight: bold;
    color: #ffffff;
    color: #a94442;
    font:16px 'yanone_kaffeesatzregular', sans-serif;
  }
  
  #contact input[readonly] {
    background-color: white !important;
    cursor: text !important;
  }
  
  #contact form input.ng-invalid:not(.ng-pristine),
  #contact form textarea.ng-invalid:not(.ng-pristine) {
     border-color: #a94442;   
  }
  
  #contact form input.ng-valid,
  #contact form textarea.ng-valid  {
    border: 1px solid #3c763d;
  }
  
  #contact .error-message {
    margin-top: 20px;
    padding: 12px;    
    font-weight: bold;
    color: #ffffff;
    border-radius: 3px;
    background-color:  #a94442;
    font:16px 'yanone_kaffeesatzregular', sans-serif;
  }
  
  #contact .error-message2 {
    margin-top: 20px;
    padding: 12px;    
    font-weight: bold;
    color: #ffffff;
    border-radius: 3px;
    border: 1px solid #ebccd1;
    color: #a94442;
    background-color: #f2dede;
    font:16px 'yanone_kaffeesatzregular', sans-serif;
  }
  
  #contact .success-message {
    margin-top: 20px;
    padding: 12px;    
    font-weight: bold;
    border-radius: 3px;
    color: #3c763d;
    background-color: #dff0d8;
     border: 1px solid #d6e9c6;
    font:16px 'yanone_kaffeesatzregular', sans-serif;
  }
  
  #contact .arrow {
    width: 0;
    height: 0;
    float: left;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 9px solid #a94442;
    margin-top: -20px;
  }
  
  #contact [disabled] {
    pointer-events: none;
  }
  
  #contact span.message {
    position: absolute;
    width: 150px;
    left: 120%;top: 0%;
    padding: 7px;
    color: #a94442;
    font-family: 'yanone_kaffeesatzregular', sans-serif;
  }
  
  #contact span.valid-message {
    position: absolute;
    width: 150px;
    left: 120%;top: 0%;
    padding: 7px;
    color: #3c763d;
    font-family: 'yanone_kaffeesatzregular', sans-serif;
  }
  
  #contact .alert-danger  {
    padding: 5px;
    border-radius: 3px;
  }
  
  #contact .alert-danger p {
    color: #ffffff;
  }
  
  /* #contact .lead i.animated {
      color: #65B6A0;
      -webkit-transition-property: -webkit-transform;
      -webkit-transition-duration: 1s;
      -moz-transition-property: -moz-transform;
      -moz-transition-duration: 1s;
      -webkit-animation-name: pulse;
      -moz-animation-name: pulse;
      -webkit-animation-duration: 1s;
      -moz-animation-duration: 1s;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      -moz-animation-timing-function: linear;
  }
  
  #contact .lead:hover i.animated {
      -webkit-animation-name: pulse;
      -moz-animation-name: pulse;
      -webkit-animation-duration: 1s;
      -moz-animation-duration: 1s;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      -moz-animation-timing-function: linear;
  } 
  
  @-webkit-keyframes pulse {    
      0% {
          -webkit-transform: scale(1);
          transform: scale(1);
      }
  
      50% {
          -webkit-transform: scale(1.2);
          transform: scale(1.2);
      }
  
      100% {
          -webkit-transform: scale(1);
          transform: scale(1);
      }
  }
  
  @-moz-keyframes pulse {    
      0% {
          -moz-transform: scale(1);
          transform: scale(1);
      }
  
      50% {
          -moz-transform: scale(1.2);
          transform: scale(1.2);
      }
  
      100% {
          -moz-transform: scale(1);
          transform: scale(1);
      }
  }
   */
  
  /* enable absolute positioning */
  #contact .inner-addon {
    position: relative;
  }
  
  /* style glyph */
  #contact .inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    color: #3c763d;
  }
  
  /* align glyph */
  #contact .left-addon .glyphicon  { left:  0px;}
  #contact .right-addon .glyphicon { right: 0px;}
  
  /* add padding  */
  #contact .left-addon input  { 
    padding-left:  30px; 
  }
  #contact .right-addon input { 
    padding-right: 30px;
    font:16px 'yanone_kaffeesatzregular', sans-serif; }
  #contact .right-addon textarea { 
    padding-right: 30px; 
    font:16px 'yanone_kaffeesatzregular', sans-serif;
  }
  
  #contact form textarea { 
    height: 100px; 
  }
  
  #contact .inner-addon .glyphicon-ok { 
    color: #3c763d;
  }
  
  #contact .inner-addon .glyphicon-remove { 
    color: #a94442;
  }
  
  #contact .tooltip {
    font:14px 'yanone_kaffeesatzregular', sans-serif;  
  }
  
  #footer p {
    font-family: 'helvetica_neueregular', sans-serif;
    margin-left: 10px;
    color: #999;
  }