<app-first-navbar></app-first-navbar>

<!-- ======= Login ======= -->
<section id="mylogin" class="d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1">
        <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center">
          
          <mat-card class="box" >
            <mat-spinner *ngIf="isLoading"></mat-spinner>
            <mat-card-header>
              <mat-card-title><h1><i style='font-size:16px' class='fas'>&#xf1b0;</i> Log in <i style='font-size:16px' class='fas'>&#xf1b0;</i></h1></mat-card-title>
              <p>login here using your username and password</p>
              <div *ngIf="!authService.getCredentials()">
                <div class="alert alert-danger" role="alert">Wrong Credentials!</div>
              </div>
              <br />
            </mat-card-header>
              
              <form (submit) ="onLogin(loginForm)" #loginForm="ngForm" *ngIf ="!isLoading" class="example-form">
                <mat-card-content>
                  <mat-form-field class="example-full-width">
                    <input ngModel name="username" matInput placeholder="Username" required #userNameInput="ngModel">
                    <mat-error *ngIf="userNameInput.invalid">Invalid credentials</mat-error>
                  </mat-form-field>
          
                  <mat-form-field class="example-full-width">
                    <input ngModel name="password" matInput placeholder="Password" matInput [type]="hide ? 'password' : 'text'" required  #passwordInput="ngModel">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
                </mat-card-content>
              
                <div class="mt-4">
                  <div class="d-flex justify-content-center">
                    <button class="download-btn" type="submit"> Login</button>
                  </div>
                </div>

                <div class="mt-4">
                  <div class="d-flex justify-content-center links">
                    Don't have an account? <a href="register" class="ml-2">Sign Up</a>
                  </div>
                </div>
                
              </form>
          </mat-card>
        
        </div>
      </div>
      <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 mylogin-img">
        <img src="assets/img/animals.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>

</section><!-- End -->