body {
  font-family: "Open Sans", sans-serif;
  color: #5a6158;
  height: 100%;
  min-height: 100vh;
}

a {
  color: #076a02;
}

  a:hover {
    color: #197602;
    text-decoration: none;
  }

.login-wrapper .example-form {
  min-width: 100%;
  max-width: 300px;
  width: 100%;
}

.login-wrapper .example-full-width,
.login-wrapper .btn-block {
  width: 100%;
}

.login-wrapper mat-card-header {
  text-align: center;
  width: 100%;
  display: block;
}

.login-wrapper mat-card-header mat-card-title {
  font-size: 30px;
  margin: 0;
}

.login-wrapper .mat-card {
  padding: 40px 70px 50px;

  background: rgba(248, 255, 241, 0.603);
  border-radius: 10px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  z-index: 5;
  -webkit-box-shadow: 1px 3px 5px 4px rgb(188, 201, 177); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    1px 3px 5px 4px rgb(188, 201, 177);  /* Firefox 3.5 - 3.6 */
  box-shadow:         1px 3px 5px 4px rgb(188, 201, 177);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}


/*--------------------------------------------------------------
# mylogin Section
--------------------------------------------------------------*/
#mylogin {
  width: 100%;
  /* height: 100%; */
  position: relative;
  overflow: hidden;
  padding: 140px 0 100px 0;
  margin-bottom: -75px;
  min-height: 100vh;
}

  #mylogin::before {
    content: '';
    position: absolute;
    right: -100%;
    top: 20%;
    width: 250%;
    height: 200%;
    z-index: -1;
    background-color: #c5f7a1;
    transform: skewY(135deg);
  }

  #mylogin h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
    color: #1d6803;
    font-family: "Poppins", sans-serif;
  }

  #mylogin h2 {
    color: #357b1e;
    margin-bottom: 50px;
    font-size: 20px;
  }

/* buttons*/
  #mylogin .download-btn {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 15px;
    display: inline-block;
    padding: 10px 24px 10px 24px;
    border-radius: 3px;
    transition: 0.5s;
    color: #fff;
    background: #387c08;
    position: relative;
    
  }

    #mylogin .download-btn:hover {
      background: #469d08;
    }

    #mylogin .download-btn + .download-btn {
      margin-left: 20px;
    }

@media (max-width: 991px) {
  #mylogin {
    text-align: center;
  }

    #mylogin .download-btn + .download-btn {
      margin: 0 10px;
    }

    #mylogin .mylogin-img {
      text-align: center;
    }

    #mylogin .mylogin-img img {
      width: 60%;
    }
}

@media (max-width: 768px) {
  #mylogin h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #mylogin h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #mylogin .mylogin-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #mylogin .mylogin-img img {
    width: 80%;
  }
}
