.title{
  text-decoration: none;
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 500;
  color: #076a02;
  font-family: "Poppins", sans-serif;
}

.register-wrapper mat-card-title {
  text-align: center;
  width: 100%;
  display: block;
}

.register-wrapper {
  padding: 10px 0px;
  background: rgba(248, 255, 241, 0.603);
  border-radius: 10px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  z-index: 5;
  -webkit-box-shadow: 1px 3px 5px 4px rgb(188, 201, 177); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    1px 3px 5px 4px rgb(188, 201, 177);  /* Firefox 3.5 - 3.6 */
  box-shadow:         1px 3px 5px 4px rgb(188, 201, 177);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.img-fluid {
  width: 100%;
  z-index: 1;
}

/* =============================== */
body {
  font-family: "Open Sans", sans-serif;
  color: #5a6158;
  height: 100%;
  min-height: 100vh;
}

a {
  color: #076a02;
}

  a:hover {
    color: #197602;
    text-decoration: none;
  }

/*--------------------------------------------------------------
# myregister Section
--------------------------------------------------------------*/
#myregister {
  width: 100%;
  /* height: 100%; */
  position: relative;
  overflow: hidden;
  padding: 140px 0 100px 0;
  margin-bottom: -75px;
  min-height: 100vh;
}

  #myregister::before {
    content: '';
    position: absolute;
    right: -100%;
    top: 20%;
    width: 250%;
    height: 200%;
    z-index: -1;
    background-color: #c5f7a1;
    transform: skewY(135deg);
  }

/* buttons*/
  #myregister .download-btn {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 15px;
    display: inline-block;
    padding: 10px 24px 10px 24px;
    border-radius: 3px;
    transition: 0.5s;
    color: #fff;
    background: #387c08;
    position: relative;
    
  }

    #myregister .download-btn:hover {
      background: #469d08;
    }

    #myregister .download-btn + .download-btn {
      margin-left: 20px;
    }

@media (max-width: 991px) {
  #myregister {
    text-align: center;
  }

    #myregister .download-btn + .download-btn {
      margin: 0 10px;
    }

    #myregister .myregister-img {
      text-align: center;
    }

    #myregister .myregister-img img {
      width: 60%;
    }
}

@media (max-width: 768px) {
  #myregister .title {
    font-size: 28px;
    line-height: 36px;
  }

  #myregister h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #myregister .myregister-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #myregister .myregister-img img {
    width: 80%;
  }
}

::ng-deep .mat-step-header .mat-step-icon-selected {
  background-color: #2d6108; 
}
::ng-deep .mat-step-header .mat-step-icon-state-edit {
  background-color: #336b0a;
}
