/*--------------------------------------------------------------
# feedpage
--------------------------------------------------------------*/
a {
    color: #1d6803;
}

a:hover {
    color: #2d8a0e;
    text-decoration: none;
}
.section-bg {
    background-color: rgb(243, 253, 232);
    background-image: url('/assets/img/kortari.png');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: contain;
    float: left;
    background-position: bottom;
    min-height: 100vh;
}

.wrapper {
    background-color: transparent;
    display: inline-block;
    width: 100%;
}

.box {
    padding: 0px;
    position: relative;
    overflow: hidden;
    margin: 20px 0 10px 0;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    text-align: center;
    border-bottom: 3px solid #e1dddd;;
    border-color: #e1dddd;
}
.box-pet{
    margin: 20px 0 10px 0;
    border-radius: 10px;
}

.feedpage .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

.feedpage .title a {
    color: rgb(39, 38, 38);
}

.feedpage .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
}

.mat-card {
    width: 100%;
}
