<!-- User Pic -->
<div class="profile-userpic">
    <img src="../../../../assets/img/avatar.png" class="img-responsive" alt="">
</div>

<!-- User & Pet Name -->
<div class="profile-usertitle">
    <div class="profile-usertitle-name">
        @User_Name
    </div>
    <div class="profile-usertitle-pet">
        @pet_name
    </div>
    <div>
        <p class="card-text">Tell us about you..</p>
    </div>
    <div>  
        <a href="#">  <i class="glyphicon glyphicon-user"></i>  Account Settings </a>
    </div>
</div>

<!-- buttons extra-->
<!-- 
<div class="profile-usermenu">
    <ul class="nav">
        <li class="active">
            <a href="#">
            <i class="glyphicon glyphicon-home"></i>
            Overview </a>
        </li>
        <li >
            <a href="#">
            <i class="glyphicon glyphicon-user"></i>
            Account Settings </a>
        </li>
    </ul>
</div>
-->
		



