

<mat-card>
    <!-- User Avatar -->
    <div class="profile-userpic">
        <img mat-card-avatar [src]="picSource" class="img-responsive" alt="">
    </div>

    <!-- User & Pet Name -->
    <div class="profile-usertitle" >
        <div class="profile-usertitle-name" *ngIf = "user!=null">
        {{username}}
        </div>
        <div>
            <a href="../../profile/">  <i class="glyphicon glyphicon-user"></i>  Profile </a>
        </div>
        <div>
            <a href="../../settings/">  <i class="glyphicon glyphicon-cog"></i>  Account Settings </a>
        </div>
    </div>
</mat-card>
