body {
    background: transparent;
  }
  
  /* Profile container */
  .profile {
    margin: 20px 0;
  }
  a {
    color: #1d6803;
}

a:hover {
    color: #2d8a0e;
    text-decoration: none;
}
  
  /* Profile sidebar */
  .profile-sidebar {
    padding: 20px 0 10px 0;
    background: #fff;
  }
  
  .profile-userpic img {    float: none;
    margin: 0 auto;
    /*width: 50%;
    height: 50%;*/
    min-height:150px;
    min-width:150px;
    max-height:150px;
    max-width:150px;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
  }
  
  .profile-usertitle {
    text-align: center;
    margin-top: 20px;
  }
  
  .profile-usertitle-name {
    color: #1d6803;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
  }
  
  .profile-usertitle-pet {
    text-transform: uppercase;
    color: #1d6803;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
  }
      
  .profile-usermenu {
    margin-top: 30px;
  }
  
  .profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
  }
  
  .profile-usermenu ul li:last-child {
    border-bottom: none;
  }
  
  .profile-usermenu ul li a {
    color:#1d6803;
    font-size: 14px;
    font-weight: 400;
  }
  
  .profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
  }
  
  .profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #317e17;
  }
  
  .profile-usermenu ul li.active {
    border-bottom: none;
  }
  
  .profile-usermenu ul li.active a {
    color: #1d6803;
    background-color: #f6f9fb;
    border-left: 2px solid #1d6803;
    margin-left: -2px;
  }
  
  /* Profile Content */
  .profile-content {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;

  }
  