
<div class="container bootstrap snippets bootdey">
    <div class="row">
  
        <div class="profile-nav col-md-3">
            <div class="panel">
                <div class="user-heading round">
        
                    <a href="../profile"> <!-- on click -> change photo -->
                    <img src="../../../assets/img/avatar.png" alt="">
                    </a>
        
                    <!--From backend-->
                    <h1>@User Name</h1>
                    <p>@email</p>
        
                </div>
    
                <div class="buttons" position="center">
                    <a href="../profile"> <i class="fa fa-user"></i> Profile</a>
                    <a href="../settings"> <i class="fa fa-edit"></i> Edit</a>
                </div>
    
            </div>
        </div>

        <!-- User Bio Graph -->

        <div class="profile-nav col-md-8">
            <div class="panel">

                <div class="bio-graph-heading">
                    <mat-form-field>
                        <textarea matInput
                          rows="4"
                          formControlName="content"
                          name="content"
                          placeholder="About you.."
                          class="form-control input-lg p-text-area">
                        </textarea>
    
                        <mat-error *ngIf="form.get('content').invalid">
                          Please enter content
                        </mat-error>
    
                      </mat-form-field>
                </div>

                <div class="panel-body bio-graph-info">
                    <h1>Bio Graph</h1>
                    
                    <div class="row">

                    <div class="bio-row">
                        <p><span>First Name </span>: @UserName</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Last Name </span>: @UserName</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Username </span>: @</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Pet Name </span>: @PetName</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Pet Sex</span>: @</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Email </span>: @email</p>
                    </div>

                    <button> Change </button>
                  

                </div>
            </div>

        </div>
        <!-- END User Bio Graph -->

    </div>
</div>
