<app-navbar></app-navbar>
  <div class="container-fluid section-bg">
    <div class="row">

      <div class="col-md-3 settings">

        <div class="panel">
          <app-miniprof></app-miniprof>
        </div>
        <div class="panel">
          <app-petmini></app-petmini>
        </div>
      </div>

      <!-- User Bio Graph -->

        <div class="col-md-9 settings-info">
          <div class="panel">

            <div class="panel-body bio-graph-info">
              <h1>My Info</h1>

              <div class="row" [formGroup]="userNewDetails" *ngIf ="user">

                <div class="bio-row">
                  <mat-form-field floatLabel="always" appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput type="text" formControlName="newFirstName" placeholder="{{user.firstName}}">
                    <mat-error *ngIf="userNewDetails.get('newFirstName').invalid">{{getFirstnameErrorMessage()}}</mat-error>
                  </mat-form-field>
                </div>
                <div class="bio-row">
                  <mat-form-field floatLabel="always" appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput type="text" formControlName="newLastName" placeholder="{{user.lastName}}">
                    <mat-error *ngIf="userNewDetails.get('newLastName').invalid">{{getLastnameErrorMessage()}}</mat-error>
                  </mat-form-field>
                </div>
                <div class="bio-row">
                  <mat-form-field floatLabel="always" appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput type="text" formControlName="newUsername" placeholder="{{user.userName}}">
                    <mat-error *ngIf="userNewDetails.get('newUsername').invalid">{{getUsernameErrorMessage()}}</mat-error>
                  </mat-form-field>
                </div>
                <div class="bio-row">
                  <mat-form-field floatLabel="always" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="newEmail" placeholder="{{user.email}}">
                    <mat-error *ngIf="userNewDetails.get('newEmail').invalid">{{getEmailErrorMessage()}}</mat-error>
                  </mat-form-field>
                </div>
                <div class="bio-row">
                  <mat-form-field floatLabel="always" appearance="outline">
                    <mat-label>
                      Password
                    </mat-label>
                    <input matInput type="password" formControlName="newPassword" placeholder="Password">
                    <mat-error *ngIf="userNewDetails.get('newPassword').invalid">{{getPasswordErrorMessage()}}</mat-error>
                  </mat-form-field>
                </div>
                <div class="bio-row">
                  <mat-form-field floatLabel="always" appearance="outline">
                    <mat-label>Confirm passowrd</mat-label>
                    <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm password">
                    <span>{{matching()}}</span>
                    <mat-error>{{getConfirmErrorMessage()}}</mat-error>
                  </mat-form-field>
                </div>                        
                  <ul class="nav nav-pills">       
                      <li>
                        <a (click)="filePicker.click()" class="fa fa-picture-o imagePicker" aria-hidden="true"> Change avatar</a>
                      </li>
                      <li>
                        <input type="file" #filePicker (change)="onImagePicked($event)">
                      </li>
                      <li class="image-preview" *ngIf="imagePreview !== '' && imagePreview && userNewDetails.get('newAvatar').valid ">
                        <img [src]="imagePreview">
                      </li>
                  </ul>
                <div class="bio-row">
                  <button mat-raised-button (click)="userSubmited()"> Change </button>
                  <button mat-raised-button (click)="cancel()"> Cancel </button>
                </div>
              </div>
            </div>

          </div>
          <!-- END User Bio Graph -->
          <div class="row" [formGroup]="petNewDetails" *ngIf="userPets.length>0" >
            <div class="petField"  *ngFor="let pet of userPets; index as i">
              <div class="panel">
                <div class="panel-body bio-graph-info">
                  <h1>Pet Info</h1>
                  
                    <div class="bio-row">
                      <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label>PetGender</mat-label>
                        <mat-select formControlName="newGenderDetails" placeholder="{{pet.gender}}">
                          <mat-option value="male">Male</mat-option>
                          <mat-option value="female">Female</mat-option>
                        </mat-select>
                       <!-- <mat-error *ngIf="petNewDetails.get('newGender').invalid">{{getGenderErrorMessage()}}</mat-error>-->
                      </mat-form-field>
                      <!-- <p><span>Pet Sex</span>: @PetSex</p>-->
                    </div>
                    <div class="bio-row">
                      <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label>Pet Name</mat-label>
                        <input matInput type="text" formControlName="newPetNameDetails" placeholder="{{pet.petName}}">
                        <!--<mat-error *ngIf="petNewDetails.get('newPetName').invalid">{{getPetnameErrorMessage()}}</mat-error>-->
                      </mat-form-field>
                    </div>
                    <div class="bio-row">
                      <mat-form-field appearance="outline">
                        <mat-label>Select</mat-label>
                        <mat-select formControlName="newSpeciesDetails">
                          <mat-option value="cat">Cat</mat-option>
                          <mat-option value="dog">Dog</mat-option>
                          <mat-option value="other">Other</mat-option>
                        </mat-select>
                        <!--<mat-error *ngIf="petNewDetails.get('newSpecies').invalid">{{getSpeciesErrorMessage()}}</mat-error>-->
                      </mat-form-field>
                      <ul class="nav nav-pills">       
                        <li>
                          <a (click)="petChangeFilePicker.click()" class="fa fa-picture-o imagePicker" aria-hidden="true"> Change avatar</a>
                        </li>
                        <li>
                          <input type="file" #petChangeFilePicker (change)="onPetChangeImagePicked($event, i)">
                        </li>
                        <li class="image-preview" *ngIf="imagePetPreview[i] !== '' && imagePetPreview[i] && petNewDetails.get('newPetAvatarDetails').valid ">
                          <img [src]="imagePetPreview[i]">
                        </li>
                      </ul>
                    </div>
                  <div class="bio-row">
                    <button mat-raised-button (click)="petChangeSubmited(pet, i)"> Change </button>
                    <button mat-raised-button (click)="cancel()"> Cancel </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" [formGroup]="newPet">
            <div class="petField" *ngFor="let iters of iterations; let i = index">
              <div class="panel">
                <div class="panel-body bio-graph-info">
                  <h1>New Pet</h1>
                  
                    <div class="bio-row">
                      <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label>PetGender</mat-label>
                        <mat-select formControlName="newGender" placeholder="Pet gender">
                          <mat-option value="male">Male</mat-option>
                          <mat-option value="female">Female</mat-option>
                        </mat-select>
                        <mat-error *ngIf="newPet.get('newGender').invalid">{{getNewGenderErrorMessage()}}</mat-error>
                      </mat-form-field>
                    </div>
                    <div class="bio-row">
                      <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label>Pet Name</mat-label>
                        <input matInput type="text" formControlName="newPetName" placeholder="Pet name">
                        <mat-error *ngIf="newPet.get('newPetName').invalid">{{getNewPetnameErrorMessage()}}</mat-error>
                      </mat-form-field>
                    </div>
                    <div class="bio-row">
                      <mat-form-field appearance="outline">
                        <mat-label>Species</mat-label>
                        <mat-select formControlName="newSpecies">
                          <mat-option value="cat">Cat</mat-option>
                          <mat-option value="dog">Dog</mat-option>
                          <mat-option value="other">Other</mat-option>
                        </mat-select>
                        <mat-error *ngIf="newPet.get('newSpecies').invalid">{{getNewSpeciesErrorMessage()}}</mat-error>
                      </mat-form-field>
                    <ul class="nav nav-pills">       
                      <li>
                        <a (click)="newPetFilePicker.click()" class="fa fa-picture-o imagePicker" aria-hidden="true"> Change avatar</a>
                      </li>
                      <li>
                        <input type="file" #newPetFilePicker (change)="onNewPetImagePicked($event)">
                      </li>
                      <li class="image-preview" *ngIf="newPetImagePreview !== '' && newPetImagePreview && newPet.get('newPetAvatar').valid ">
                        <img [src]="newPetImagePreview">
                      </li>
                    </ul>
                    </div> 

                  <div class="bio-row">
                    <button mat-raised-button (click)="petSaveSubmited()"> Change </button>
                    <button mat-raised-button (click)="cancel()"> Cancel </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <app-footer> </app-footer>
