<app-navbar></app-navbar>
<div class="container bootstrap snippets bootdey">
    <div class="row">
  
        <div class="profile-nav col-md-3">
            <div class="panel">
                <app-miniprof></app-miniprof>
            </div>
        </div>

        <!-- User Bio Graph -->

        <div class="profile-nav col-md-8">
            <div class="panel">

                <div class="panel-body bio-graph-info">
                    <h1>Bio Graph</h1>
                    
                    <div class="row">

                    <div class="bio-row">
                        <p><span>First Name </span>: @FName</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Last Name </span>: @LName</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Username </span>: {{username}} </p>
                    </div>
                    <div class="bio-row">
                        <p><span>Pet Name </span>: @PetName</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Pet Sex</span>: @PetSex</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Email </span>: @email</p>
                    </div>

                    <button> Change </button>
                  

                </div>
            </div>

        </div>
        <!-- END User Bio Graph -->

    </div>
</div>
