.row{
  margin-top: 8%;
}

.title{
  text-decoration: none;
  color: black;
}

.register-wrapper mat-card-title {
  text-align: center;
  width: 100%;
  display: block;
  font-weight: 700;
}

.register-wrapper {
  height: 100%;
}

.img-fluid {
  width: 100%;
  margin-top: 75%;
}