<!-- Toolbar -->

<mat-toolbar color="primary" class="navbar navbar-dark bg-color">
    <mat-toolbar-row>
      <!-- logo -->
      <a class="navigation-items" href="feed-page">
        <img src="assets/img/logo.png" alt="logo" style="width:60px;">
      </a>
      <span>PetPack</span>
      <div fxFlex fxLayout fxLayoutAlign="flex-end">
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
          <!-- search -->
          <li fxHide.xs>
            <form action="" class="search-form ">
              <div class="form-group has-feedback">
                <label for="search" class="sr-only">Search</label>

                <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option.name}}
                  </mat-option>
                </mat-autocomplete>

                <!-- <input type="text" class="form-control" name="search" id="search" placeholder="search"> -->
                  <span class="glyphicon glyphicon-search form-control-feedback"></span>
              </div>
            </form>
          </li>
          <!-- notifications -->
          <li fxHide.xs>
            <button mat-icon-button>
              <mat-icon>notifications</mat-icon>
            </button>
          </li>
          <li>
            <!-- person -->
            <button mat-icon-button [matMenuTriggerFor]="auth" class="dropdown-toggle" data-toggle="dropdown">
              <mat-icon> person </mat-icon>
            </button>
            <mat-menu #auth="matMenu">
              <button mat-menu-item (click)="onProfile()">
                <mat-icon> person </mat-icon>
                <span> {{ 'My Profile' }} </span>
              </button>
              <mat-divider></mat-divider>
                <button mat-menu-item (click)="settings()">
                  <mat-icon> settings </mat-icon>
                  <span> {{ 'Settings' }} </span>
                </button>
                <mat-divider></mat-divider>
              <button mat-menu-item (click)="logout()">
                <mat-icon> exit_to_app </mat-icon>
                <span> {{ 'Logout' }} </span>
              </button>
            </mat-menu>
          </li>
        </ul>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <!-- ===================================== -->
