.header {
  z-index: 1;
  background-color: transparent;
}

.head {
  padding: auto;
  margin: 5px;
  background-color: transparent;
}

.title {
  padding: auto;
  margin: 5px;
}

  /*-------- Header----------------*/
  #header {
  padding: 5px 0;
  background-color: rgba(18, 73, 4, 0);
}

#header.header-transparent {
  background: transparent;
  border: 0;
}


#header .logo a, #header .logo a:hover {
  color: #377604;
  text-decoration: none;
  letter-spacing: 2px;
}

#header .logo img {
  margin: 0;
  padding: 0;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #448038;
  padding: 12px 15px;
  transition: 0.3s;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #3cac10;
  text-decoration: none;
  background-color: transparent;
}

