<!-- Toolbar -->

<!-- <nav class="header">

  <div class="head">
    <button mat-fab color="blue">
      <a href="landing-page">
        <mat-icon>home</mat-icon>
      </a>
    </button>
  </div>

  <div class="title">
    <h1>PetPack</h1>
  </div>
  <nav class="nav-menu">
    <ul class="nav justify-content-end">
      <li ><a  href="landing-page">Home</a></li>
      <li ><a  href="#features">Features</a></li>
      <li><a  href="#about">About us</a></li>
      <li ><a  href="#contact">Contact Us</a></li>
    </ul>
  </nav>
</nav>  -->

  <!-- ======= Header ======= -->
  <header id="header" class="header ">
    <div class="container-fluid d-flex align-items-center">

      <div class="logo mr-auto">
        <a href="landing-page"><img src="assets/img/logo.png" alt="" class="img-fluid" style="width:60px;">PetPack</a>
      </div>
      <nav class="nav-menu d-none d-lg-block">
        <ul class="nav justify-content-end">
          <li class="active"><a  href="landing-page">Home</a></li>
          <li ><a  href="#features">Features</a></li>
          <li><a  href="#about">About us</a></li>
          <li ><a  href="#contact">Contact Us</a></li>
        </ul>
      </nav>
      <!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!-- Αν θέλω να βάλω κουμπιά στη navbar

  <div class="button-row">
    <span class="nav-tool-items">
        <a mat-raised-button routerLink="dashboard" routerLinkActive="active">dashboard</a>
        <a mat-raised-button routerLink="login" routerLinkActive="active">Log in</a>
        <a mat-raised-button routerLink="register" routerLinkActive="active" >Register</a>
    </span>
  </div>-->
  


