body {
    background: transparent;
}

/*  sidebar */
.pet-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.pet-pic img {  float: center;
  margin: 0 auto;
/*  width: 50%;
  height: 50%;*/
  min-height:100px;
  min-width:100px;
  max-height:100px;
  max-width:100px;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.pet-name {
  text-align: center;
  margin-top: 20px;
  color: #1d6803;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}


.pets {
  width: 100%;
  margin-bottom: 10px;
  
}
.wrapper{
  background-color: transparent;
  display: inline-block;
  width: 100%;
}