
<app-first-navbar></app-first-navbar>

<div class="bgimg">

  <!-- <img src="/src/assets/img/animals.png"  alt="" style="width:100%;"> -->
  <img src="assets/img/Start_Page.png" class="img-fluid" alt="" background-size="full" width="100%" height="100%">

  <div class="topleft">
    <p></p>
  </div>

  <div class="middle">
    

    <h1 style="color:white"> <b>COMING SOON</b> </h1>
    
    <h2 style="color:white"> <b> Noe 20 2020</b> </h2>


     <!-- countdown-date-time, https://www.npmjs.com/package/angular-countdown-date-time -->
     <lib-angular-countdown-dateTime [endDateBind]="endTime" [dayText]="'day'" [hourText]="'hour'" [minutesText]="'min'" [secondsText]="'sec'"> </lib-angular-countdown-dateTime>

     
    
     <hr>
     <p style="color:black"> <b>Team A - Pet Pack </b> </p>
  </div>

  <div class="bottomleft">
   
  </div>

</div>

