<div id="personal-details" [formGroup]="regForm">

    <!--First Name-->
    <mat-form-field class="form-group col-md-4" formGroupName="personalDetails" appearance="outline">
      <mat-label>First Name</mat-label>
      <input type="text" class="form-control" formControlName="firstname" matInput>
    </mat-form-field>
  
    <!--Last Name-->
    <mat-form-field class="form-group col-md-4" formGroupName="personalDetails" appearance="outline">
      <mat-label>Last Name</mat-label>
      <input type="text" class="form-control" formControlName="lastname" matInput>
    </mat-form-field>
    <br />
  
    <!--Username-->
    <mat-form-field class="form-group col-md-4" formGroupName="personalDetails" appearance="outline">
      <mat-label>Username</mat-label>
      <input type="text" class="form-control" formControlName="username" matInput>
    </mat-form-field>
    <br />
  
    <!--Email-->
    <mat-form-field class="form-group col-md-4" formGroupName="personalDetails" appearance="outline">
      <mat-label>Email</mat-label>
      <input type="text" class="form-control" formControlName="email" matInput>
    </mat-form-field>
    <br />
  
    <!--Password-->
    <mat-form-field class="form-group col-md-4" formGroupName="personalDetails" appearance="outline">
      <mat-label>Password</mat-label>
      <input type="password" class="form-control" formControlName="password" matInput>
    </mat-form-field>
  
    <!--Confirm Password-->
    <mat-form-field class="form-group col-md-4" formGroupName="personalDetails" appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input type="password" class="form-control" formControlName="conf-password" matInput>
    </mat-form-field>
  </div>
  <br />
  <button type="button" matStepperNext (click)="step1Submitted()">Next</button>