.post-container {
    width: 100%;
    height: 300px;
    background: lightblue;
    border: 2px dotted darkgray;
    border-radius: 10px;
}

.post-container .post-header {
    width: 100%;
    padding: 20px;
}

.post-container .post-header .user-id,
.post-container .post-header .post-id  {
    width: 50%;
    display: inline-block;
    color: gray;
}

.post-container .post-header .user-id {
    float: right;
    text-align: right;
}
.post-container .post-header .post-id {
    float: left;
}

/* this is about post body */
.post-container .post-body,
.post-container .post-body .title,
.post-container .post-body .text {
    width: 100%;
    text-align: center;
}
