<!-- ======= Landing page ======= -->
<section id="landing" class="d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1">
        <div>
          <h1>Connect with friends and pets around you on PetPack.</h1>
          <h2> Check out some of our favorite animal stories! <i style='font-size:24px' class='fas'>&#xf1b0;</i></h2>
          <a href="login" class="download-btn">Login</a>
          <a href="register" class="download-btn">Register now</a>
        </div>
      </div>
      <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 landing-img">
        <img src="assets/img/animals.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>

</section><!-- End -->

<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

      </div>
    </div>
  </div>

  <div class="container py-4">
    <div class="copyright">
      &copy; Copyright <strong><span>Mystique</span></strong>. All Rights Reserved
    </div>

  </div>
</footer><!-- End Footer -->