
<app-first-navbar></app-first-navbar>

<!-- ======= Landing page ======= -->
<section id="landing" class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1">
        <div>
          <h1>Connect with friends and pets around you on PetPack. {{myDate}}</h1>
          <h2> Check out some of our favorite animal stories! <i style='font-size:24px' class='fas'>&#xf1b0;</i></h2>
          <a href="login" class="download-btn">Login</a>
          <a href="register" class="download-btn">Register now</a>
        </div>
      </div>
      <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 landing-img">
        <img src="assets/img/animals.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>

</section><!-- End -->

<main id="main">
    <!-- ======= App Features Section ======= -->
    <section id="features" class="features">
      <div class="container">
        <div class="section-title">
          <h2>PetPack Features</h2>
          <p>Α social network for pet owners. PetPack is a social network service website launched on 24 November, 2020 by @Mystique. The following is a list of technology features that can be found on the PetPack website and mobile app and are available to users of the social media site.</p>
        </div>

        <div class="container">
          <div class="row content">
            <div class="col-md-4">
              <img src="assets/img/details-animals.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-8 pt-4">
              <ul>
                <li><i style='font-size:14px' class='fas'>&#xf00c;</i> News Feed.</li>
                <li><i style='font-size:14px' class='fas'>&#xf00c;</i> Pets Owners.</li>
                <li><i style='font-size:14px' class='fas'>&#xf00c;</i> Comments.</li>
                <!-- <li><i style='font-size:14px' class='fas'>&#xf00c;</i> Messages and inbox.</li> -->
                <li><i style='font-size:14px' class='fas'>&#xf00c;</i> Likes and Reactions.</li>
                <!-- <li><i style='font-size:14px' class='fas'>&#xf00c;</i> Notifications.</li> -->
              </ul>
            </div>
          </div>
  
        </div>
        
      </div>
    </section><!-- End App Features Section -->

</main> <!-- End #main -->

<app-about-us></app-about-us>

<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="container py-4">
    <div class="copyright">
      &copy; Copyright <strong><span>Mystique</span></strong>. All Rights Reserved. <a href="#about" class="ml-2">About Us</a>
    </div>

  </div>

  
</footer><!-- End Footer -->
