<!-- Toolbar -->
<mat-toolbar color="primary" class="app-header">
  <div><a href="refreshpage" target="_blank" class="positronx">PetPack</a></div>
  <span class="nav-tool-items">
    <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
    <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
  </span>
</mat-toolbar>

<!-- photo na mpei sto landing_page -->
<div class="backgroundpic">
  <h1> image</h1> 
</div>

<router-outlet></router-outlet>