mat-toolbar {
    position: absolute;
    z-index: 1;
    background-color: transparent;
  }
.head {
    padding: auto;
    margin: 5px;
    background-color: transparent;
}

.title{
    padding: auto;
    margin: 5px;
}
.title h1 {
  color: #5777ba;
  font-family: "Poppins", sans-serif;
  line-height: 56px;
  font-size: 30px;
  font-weight: 800;
}

.button-row {
  display: table-cell;
  width: 490px;
}

.button-row .mat-button-base {
  margin: 5px ;
  padding: auto;
}

