<app-first-navbar></app-first-navbar>

<!-- help: https://bootsnipp.com/snippets/92vK6 -->

<section class="main-content bg-light py-4 mb-5">
    
    

    <div class="container">
        <div class="row">

            <!--Left-->
            <div class="col-md-8">
                <div class="row mb-2">
                    <div class="col-md-12">
                        <div class="">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h2>About Us</h2>
                                        <small>Please find the details below</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <i><b>Pet Pack Project:</b></i><br>
                                <i>skg project..</i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <i><b>Developers:</b></i>
                                <li>Ευαγγελία Πρώιου</li>
                                <li>Γιώργος Παπαδόπουλος</li>
                                <li>Παναγιώτα Πεταλά</li>
                                <li>Γιώργος Μπολέτος</li>
                                <li>Δανιήλ Πορφυριάδης</li>
                                <li>Μερκουρόπουλος Βασίλης</li>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-12">
                        <div class="card">
                            <a href="contact_us" class="download-btn">Contact US</a>
                        </div>
                    </div>
                </div>

            </div>

            <!--Right Boxes -->

            <div class="col-md-4">
                
                <img src="assets/img/animals.png" class="img-fluid" alt="">

                <!-- Αν θέλω να βάλω έξτρα πληροφορίες:

                <div class="row mb-3">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                            Title of the text
                        </div>
                        </div>
                    </div>
                </div> 
                
                -->

            </div>

        </div>
    </div>

    <app-contact-us></app-contact-us>
    
</section>



<!-- <section class="main-content bg-light py-4 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row mb-3">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h2>About Us</h2>
                                        <hr>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <P>CONTENT</P>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                            Title of the text
                        </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                            Title of the text
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row mb-3">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                            Title of the text
                        </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                            Title of the text
                        </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                            Title of the text
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- <section class="main-content  py-4 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row mb-3">
                    <div class="col-md-12">
                        <div class="">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h2>About Us</h2>
                                        <hr>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <P>CONTENT</P>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                            Title of the text
                        </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                            Title of the text
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->



