
section {
  padding: 40px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #c5f7a1;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 0px;
  padding-bottom: 0;
  color: #357b1e;
  font-family: "Poppins", sans-serif;
}

  .about .box {
  position: relative;
  overflow: hidden;
  text-align: center;
  margin: auto;
  width: 80%;
  color: #357b1e;
}
.about .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.about .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

  h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #286314;
    font-weight: 600;
    margin-bottom: 30px;
  }
  h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #255a14;
    font-weight: 400;
    margin-bottom: 30px;
  }  
    .container-fluid {
    padding: 50px 60px;
  }
  
  
  
  @media screen and (max-width: 768px) {
    .col-md-2 {
      text-align: center;
      margin: 25px 0;
    }
  }


  /*--------------------------------------------------------------
# about
--------------------------------------------------------------*/
.about {
  background-color: #cffcaf;
  padding: 0px 0;
  }
  
  .about .team {
    text-align: center;
    margin-bottom: 20px;
    background-color: #c5f7a1;
    position: relative;
    overflow: hidden;
  }

  .about .team .team-info {
    opacity: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.2s;
  }
  
  .about .team .team-info-content {
    position: absolute;
    left: 50px;
    right: 0;
    bottom: 0;
    transition: bottom 0.4s;
  }
  
  .about .team .team-info-content h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
    color: #fff;
  }
  
  .about .team .team-info-content span {
    font-style: italic;
    display: block;
    font-size: 13px;
    color: #fff;
  }
  
  .about .team .social {
    position: absolute;
    left: -50px;
    top: 0;
    bottom: 0;
    width: 50px;
    transition: left ease-in-out 0.3s;
    background: rgba(91, 230, 36, 0.6);
    text-align: center;
  }
  
  .about .team .social a {
    transition: color 0.3s;
    display: block;
    color: #fff;
    margin-top: 15px;
  }
  
  .about .team .social a:hover {
    color: #255a14;;
  }
  
  .about .team .social i {
    font-size: 18px;
    margin: 0 2px;
  }
  
  .about .team:hover .team-info {
    background: linear-gradient(0deg, rgba(91, 146, 59, 0.6) 0%, rgba(91, 146, 59, 0.6) 15%, rgba(255, 255, 255, 0) 100%);
    opacity: 1;
    transition: 0.4s;
  }
  
  .about .team:hover .team-info-content {
    bottom: 30px;
    transition: bottom 0.4s;
  }
  
  .about .team:hover .social {
    left: 0;
    transition: left ease-in-out 0.3s;
  }