
<!-- About Section -->
<section id="about" class="about section-bg"> 
    <div class="container-fluid text-center">

        <div class="section-title">
            <h2>About us</h2>
        </div>
    <div class="container text-center">
        <div class="row">
        <div class="col-md-12 d-flex">
            <div class="box">
                <p class="description">Everyone says it, but in our case it’s true: our team is the secret to our success. Each of our members is amazing in their own right, but together they are what makes "Mystique Team" such a fun and rewarding team.  The "Mystique Team" is a talented group with a shared vision. Meet our team!!</p>
            </div>
        </div>
        </div>
    </div>
        <br>
        <div class="row">
            <div class="col-md-2 d-flex align-items-stretch">
                <div class="team">
                    <img src="assets/img/team/gilia.png" class="img img-fluid" alt="">
                    <div class="team-info">
                      <div class="team-info-content">
                        <h4>Proiou Evangelia</h4>
                        <span>FrondEnd Web Developer</span>
                      </div>
                      <div class="social">
                        <a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                        <a href=""><i class="fa fa-github" aria-hidden="true"></i></a>
                        <a href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-2 d-flex align-items-stretch">
                <div class="team">
                    <img src="assets/img/team/pap.png" class="img-fluid" alt="">
                    <div class="team-info">
                    <div class="team-info-content">
                        <h4>Papadopoulos George</h4>
                        <span>FrondEnd Web Developer</span>
                    </div>
                    <div class="social">
                        <a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                        <a href=""><i class="fa fa-github" aria-hidden="true"></i></a>
                        <a href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 d-flex align-items-stretch">
                <div class="team">
                    <img src="assets/img/team/naya.png" class="img-fluid" alt="">
                    <div class="team-info">
                    <div class="team-info-content">
                        <h4>Petala Naya</h4>
                        <span>BackEnd Web Developer</span>
                    </div>
                    <div class="social">
                        <a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                        <a href=""><i class="fa fa-github" aria-hidden="true"></i></a>
                        <a href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 d-flex align-items-stretch">
                <div class="team">
                    <img src="assets/img/team/boletos.png" class="img-fluid" alt="">
                    <div class="team-info">
                      <div class="team-info-content">
                        <h4>Boletos George</h4>
                        <span>BackEnd Web Developer</span>
                      </div>
                      <div class="social">
                        <a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                        <a href=""><i class="fa fa-github" aria-hidden="true"></i></a>
                        <a href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-2 d-flex align-items-stretch">
                <div class="team">
                    <img src="assets/img/team/daniel.png" class="img-fluid" alt="">
                    <div class="team-info">
                    <div class="team-info-content">
                        <h4>Porfiriadis Daniel</h4>
                        <span>Full-Stack Web Developer</span>
                    </div>
                    <div class="social">
                        <a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                        <a href=""><i class="fa fa-github" aria-hidden="true"></i></a>
                        <a href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 d-flex align-items-stretch">
                <div class="team">
                    <img src="assets/img/team/merk.png" class="img-fluid" alt="">
                    <div class="team-info">
                    <div class="team-info-content">
                        <h4>Merkouropoulos Vasilis</h4>
                        <span>FrondEnd Web Developer</span>
                    </div>
                    <div class="social">
                        <a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                        <a href=""><i class="fa fa-github" aria-hidden="true"></i></a>
                        <a href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                    </div>
                    </div>
                </div>
            </div>



        </div>
        
        
    </div>
</section> <!-- End -->

<!-- Contact us -->
<app-contact-us></app-contact-us>





















<!-- help: https://bootsnipp.com/snippets/92vK6 -->



<!-- <section class="main-content" background-color="darkgrey;">

    <div class="container">
        <div class="row"> -->

            <!--Left-->
            <!-- <div class="col-md-8">
                <div class="row mb-2">
                    <div class="col-md-12">
                        <div class="">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h2>About Us</h2>
                                        <small>Please find the details below</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <i><b>Pet Pack Project:</b></i><br>
                                <i>skg project..</i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <i><b>Developers:</b></i>
                                <li>Ευαγγελία Πρώιου</li>
                                <li>Γιώργος Παπαδόπουλος</li>
                                <li>Παναγιώτα Πεταλά</li>
                                <li>Γιώργος Μπολέτος</li>
                                <li>Δανιήλ Πορφυριάδης</li>
                                <li>Μερκουρόπουλος Βασίλης</li>
                            </div>
                        </div>
                    </div>
                </div>

            </div> -->

            <!--Right Boxes -->

            <!-- <div class="col-md-4">
                
                <img src="assets/img/animals.png" class="img-fluid" alt=""> -->

                <!-- Αν θέλω να βάλω έξτρα πληροφορίες:

                <div class="row mb-3">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                            Title of the text
                        </div>
                        </div>
                    </div>
                </div> 
                
                -->

            <!-- </div>

        </div>
    </div>

    <app-contact-us></app-contact-us>
    
</section> -->



<!-- <section class="main-content bg-light py-4 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row mb-3">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h2>About Us</h2>
                                        <hr>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <P>CONTENT</P>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                            Title of the text
                        </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                            Title of the text
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row mb-3">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                            Title of the text
                        </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                            Title of the text
                        </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                            Title of the text
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- <section class="main-content  py-4 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row mb-3">
                    <div class="col-md-12">
                        <div class="">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h2>About Us</h2>
                                        <hr>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <P>CONTENT</P>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                            Title of the text
                        </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                            Title of the text
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->



