
.mat-card{
    width: 90%;
}

mat-form-field,
.textarea{
    border: 2px solid black;
    width: 90%;
}

input[type="file"] {
    visibility: hidden;
}

.imagePicker{
    margin: 5px;
}

.image-preview {
    height: 5rem;
    margin: 1rem 0; 
}

.image-preview img {
    height: 100%;
}

.header-image {
<<<<<<< HEAD
=======
    background-image: url('C:\Users\danis\source\repos\petpack-frontend\src\assets\img\avatar.png');
>>>>>>> c83bf69b17d59a54afec835655aa6d161cdba727
    background-size: cover;
    background-position: center;
}