/* ============ posts ============= */
.card {
  display: flex;
}

.card-avatar-image {
  background-image: url('/assets/img/avatar.png');
  background-size: cover;
  background-position: center;
}

.post {
  width: 100%;
  margin-bottom: 10px;
}

.imagepost {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
.spacer {
  flex: 1 1 auto;
}

.userLink{
    color: #181818;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
}

mat-spinner{
  margin: auto;
}

.p-text-area, .p-text-area:focus {
  border: none;
  font-weight: 300;
  box-shadow: none;
  color: #c3c3c3;
  font-size: 16px;
}

.box-main {
  padding: 0px;
  position: relative;
  overflow: hidden;
  margin: 10px 20px 0 20px;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  background-color: #f2f5fa;
}

/* ==================== create a post ================== */

.panel {
  padding: 0px;
  position: relative;
  overflow: hidden;
  margin: 10px 20px 0 20px;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  background: #fff;
}

.panel-footer {
  background-color:#f2f5fa;
  border-top: 1px solid #e7ebee;
}

.panel-footer ul li a {
  color: #47536e;
  cursor: pointer;
}
.panel-footer ul li a:hover {
  background-color: #e6edf8;
  cursor: pointer;
}

mat-form-field, .textarea {
  width: 100%;
  padding-left: 5px;
}
input[type="file"] {
  visibility: hidden;
}

.imagePicker {
  color: #47536e;
  font-size: 20px;
  border: hidden;
  background-color: transparent;
  outline: none !important;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

  .image-preview img {
    height: 100%;
  }

  .btn {
    color: #fff;
    background: #4d5e85;
  }
    .btn:hover {
      background: #5777ba;
    }

    .p-text-area, .p-text-area:focus {
      border: none;
      font-weight: 300;
      box-shadow: none;
      color: #827e7e;
      font-size: 16px;
      padding-left: 10px;
    }
    