
/*--------------------------------------------------------------
# feedpage
--------------------------------------------------------------*/
.section-bg {
  background-color: #F4F4F4;
}

.wrapper {
  background: #F4F4F4;
  display: inline-block;
  width: 100%;
}

.feedpage .box {
  padding: 20px;
  position: relative;
  overflow: hidden;
  margin: 10px 0 10px 0;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
  border-radius: 15px;
  text-align: center;
  border-bottom: 3px solid #fff;
  border-color: #e1dddd;
}

.feedpage .box-main {
  position: relative;
  overflow: hidden;
  margin: 10px 20px 0 20px;
  background: transparent;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
  border-radius: 15px;
  border-bottom: 3px solid #fff;
  border-color: #e1dddd;
}

.feedpage .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

  .feedpage .title a {
    color: #111;
  }

.feedpage .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

.mat-card {
  width: 100%;
}

/* ==================== create a post ================== */

mat-form-field, .textarea {
  border: 1px solid rgb(192, 191, 191);
  width: 90%;
  margin-left: 10px;
}

@media (max-width: 1700px) {
  mat-form-field, .textarea {
    border: 1px solid rgb(192, 191, 191);
    width: 85%;
    margin-left: 10px;
  }
}

.p-text-area, .p-text-area:focus {
  border: none;
  font-weight: 300;
  box-shadow: none;
  color: #827e7e;
  font-size: 16px;
  padding-left: 10px;
}


input[type="file"] {
  visibility: hidden;
}

.postButton {
  margin-left: 350px;
  float: right;
  outline: none !important;
}

@media (max-width: 1700px) {
  .postButton {
    margin-left: 60px;
    float: right;
  }
}

.imagePicker {
  /*    margin-top: 10px;
    margin-bottom:10px;
    margin-left:5px;*/
  /*padding:20px;*/
  color: dimgray;
  font-size: 24px;
  border: hidden;
  background-color: transparent;
  padding-top: 5px;
  outline: none !important;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

  .image-preview img {
    height: 100%;
  }

.textarea-footer {
  background-color: #f8f7f5;
  display: block;
}

  .textarea-footer ul {
    margin: 5px 5px;
    text-align: left;
  }

    .textarea-footer ul li {
      margin: 5px 5px;
      text-align: center;
    }

/* ============ posts ============= */
.card {
  display: flex;
}

.card-avatar-image {
  background-image: url('/assets/img/avatar.png');
  background-size: cover;
  background-position: center;
}

.post {
  width: 100%;
  margin-bottom: 10px;
}

.imagepost {
  width: 60%;
  margin: 5px;
}
.spacer {
  flex: 1 1 auto;
}
