<div class="container-fluid gedf-wrapper">

  <div class="row">

    <!--left box -->

    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <div class="h4">Pet Pack Universe</div>
          <div class="h4">
            <a href="about_us" class="ml-2">About Us</a> 
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="h6 text-muted">Followers</div>
            <div class="h5">Does it Really Matter to You?</div>
          </li>
          <li class="list-group-item">
            <div class="h6 text-muted">Following</div>
            <div class="h5">Those who should..</div>
          </li>
          <li class="list-group-item"> <i><b>Mystique Team:</b></i><br>
            <i>Mystique (Raven Darkhölme) is a fictional character appearing in 
            American comic books published by Marvel Comics, commonly in association 
            with the X-Men. Created by artist David Cockrum and writer Chris Claremont, 
            she first appeared in the comic book Ms. Marvel #16 (April 1978).</i>
            </li>
        </ul>
      </div>
    </div>


    <div class="col-md-6 gedf-main">
        <mat-card class="createPost">
          <form [formGroup]="form" (submit)="onSavePost()" *ngIf ="!isLoading">
            <mat-form-field>
              <textarea 
                  matInput 
                  rows="4"
                  formControlName ="content"
                  name="content" 
                  placeholder="Post Content">
              </textarea>
              <mat-error 
                  *ngIf="form.get('content').invalid">
                  Please enter content
              </mat-error>
          </mat-form-field>
            <div>
                <button mat-stroked-button type="button" class="imagePicker" (click)= "filePicker.click()">Upload Image</button>
                <input type="file" #filePicker (change)="onImagePicked($event)">
            </div>
            <div class="image-preview" *ngIf= "imagePreview !== '' && imagePreview && form.get('image').valid ">
                <img [src]= "imagePreview" [alt]= "form.value.content">
            </div>
            <button mat-raised-button
                color='primary'
                type="submit">Save Post
            </button>
          </form>
        </mat-card>
        <div>
          <mat-card>
            <mat-card-header>
              <img mat-card-avatar src="../assets/img/avatar.png">
              <mat-card-title>User 1</mat-card-title>
              <mat-card-subtitle>10h</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
             <p> {{post.content}} </p>
            </mat-card-content>
          </mat-card>
          </div>
    </div>




  <div class="col-md-3">
      <mat-card>
        <mat-card-header> oap</mat-card-header>
      </mat-card>        
  </div>