<div *ngIf="formSubmitted">
  <h4>Details submitted successfully</h4> 
  <!-- <a href="afterlogin">Wellcome</a> -->  
</div>
<div class=reg3 *ngIf="!formSubmitted">
  <form [formGroup]="form">
    
      <button mat-stroke-button (click)="filePicker.click()" class="fa fa-picture-o imagePicker"></button>

    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid ">
      <img [src]="imagePreview" >
    </div>
    <input type="file" #filePicker (change)="onImagePicked($event)">

    <div class="row_button"> 
      <button type="button" class="download-btn" matStepperPrevious>Back</button>
      &nbsp;
      <button type="button" type="submit" class="download-btn" (click)="submit()">Submit </button>
    </div>
  </form>
</div>
