/* buttons*/
.row_button{
  margin-left: 1%;
}
.download-btn {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 15px;
  display: inline-block;
  padding: 10px 24px 10px 24px;
  border-radius: 3px;
  transition: 0.5s;
  color: #fff;
  background: #387c08;
  position: relative;
}

.download-btn:hover {
  background: #469d08;
  }

.reg3{
  text-shadow: 1px 1px 1px rgb(128, 128, 128);
  font-weight: bold;
}

input[type="file"] {
  visibility: hidden;
}
.imagePicker {
  color: #428d0c;
  font-size: 24px;
  border: hidden;
  background-color: transparent;
  padding-top: 5px;
  outline: none !important;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

  .image-preview img {
    height: 100%;
  }
  