<app-navbar></app-navbar>
<div class="container bootstrap snippets bootdey">
  <div class="row">

    <div class="profile-nav col-md-3">
            
      <div class="panel">
          <app-miniprof></app-miniprof>
      </div>
      <div class="panel">
          <app-petmini></app-petmini>
      </div>

    </div>

    <!-- Post panels -->
    <div class="profile-info col-md-9">

      <app-feedview> </app-feedview>

      <!-- new post - 1 panel -->

      <!-- old profile post 

      <div class="panel"> 

        <form>
            <textarea placeholder="Whats in your mind today?" rows="2" class="form-control input-lg p-text-area"></textarea>
        </form>
        
        <footer class="panel-footer">
          <button class="btn btn-warning pull-right">Post</button>
          <ul class="nav nav-pills">
              <li>
                  <a href="#"><i class="fa fa-map-marker"></i></a>
              </li>
              <li>
                  <a href="#"><i class="fa fa-camera"></i></a>
              </li>
              <li>
                  <a href="#"><i class=" fa fa-film"></i></a>
              </li>
              <li>
                  <a href="#"><i class="fa fa-microphone"></i></a>
              </li>
          </ul>
        </footer>

      </div>
      -->

    <div>
    <!-- END Posts -->

  </div>
</div>