
<div class="container bootstrap snippets bootdey">
  <div class="row">

    <div class="profile-nav col-md-3">
      <div class="panel">
        <div class="user-heading round">

          <a href="../profile">
            <img src="../../../assets/img/avatar.png" alt="">
          </a>

          <!--From backend-->
          <h1>@User Name</h1>
          <p>@email</p>

        </div>

        <div class="buttons" position="center">
          <a href="../profile"> <i class="fa fa-user"></i> Profile</a>
          <a href="../settings"> <i class="fa fa-edit"></i> Edit</a>
        </div>

        <app-miniprof></app-miniprof>
        
      </div>
    </div>


    <!-- Post panels -->
    <div class="profile-info col-md-9">

      <!-- new post - 1 panel -->
      <div class="panel"> 

        <form>
            <textarea placeholder="Whats in your mind today?" rows="2" class="form-control input-lg p-text-area"></textarea>
        </form>

        <!-- footer of new post, Post button-->
        <footer class="panel-footer">
          <button class="btn btn-warning pull-right">Post</button>
          <ul class="nav nav-pills">
              <li>
                  <a href="#"><i class="fa fa-map-marker"></i></a>
              </li>
              <li>
                  <a href="#"><i class="fa fa-camera"></i></a>
              </li>
              <li>
                  <a href="#"><i class=" fa fa-film"></i></a>
              </li>
              <li>
                  <a href="#"><i class="fa fa-microphone"></i></a>
              </li>
          </ul>
        </footer>

      </div>
      <!-- End new post 1 panel -->

      <!-- users posts -->
      <app-feedview> </app-feedview>
      <!-- end users posts -->

    <div>
    <!-- END Posts -->

  </div>
</div>