<div class="container-fluid">
    <div class="row">


        <div class="col-sm-1">
            <div class="thumbnail">
                <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
            </div>
        </div>


        <div class="col-sm-11">
            <div class="panel panel-default">


                <div class="panel-heading">
                    <strong>myusername </strong>
                </div>
                
                <!----=========== Comment Details ============----->

                <div class="tab-pane fade in active" id="comment" role="tabpanel" aria-labelledby="comment-tab">
                    <div class="form-group">
                      <label class="sr-only" for="message">comment</label>
                      <textarea [(ngModel)]="message" class="form-control" id="message" rows="3" placeholder="New Comment"></textarea>
                    </div>

                    <div class="button_comment">
                        <button (click)="createNewComment()" type="submit" class="btn pull-right">Comment</button>
                    </div>


                </div><!-- /panel panel-default -->
        </div><!-- /col-sm-11 -->




    </div> <!-- /row -->    
</div><!-- /container -->


<div class="card gedf-card " *ngFor="let post of comment; index as i">
    <div class="container-fluid">

            <!---------New Comment Content-------->
            <div class="card-body">
                
                <div class="col-sm-1">
                    <div class="thumbnail">
                        <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                    </div>
                </div>

                

                <div class="col-sm-9">

                    <div class="card-text">

                        <div class="panel panel-default">
                            {{comment}}
                            
                        </div>

                    </div>

                </div>

                <br>

                <!-----------Delete Comment button------------>
                <div class="col-sm-2"> 
                    <button (click)="deleteComment(i)" id="deleteIcon" type="button" class="btn btn-link deleteIcon" aria-haspopup="true"
                            aria-expanded="false">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </div>
                
            </div>
        </div>        
    </div>

  
    




